* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smooth: antialiased;
  font-smoothing: antialiased;
}

::selection {
  background-color: $color-seafoam;
  color: $color-white;
}

::-moz-selection {
  background-color: $color-seafoam;
  color: $color-white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture, img, figcaption {
  display: block;
}

html {
  font-family: $type-family-sans;
  font-size: $type-size-base;
  line-height: $type-leading-base;
}

body {
  @include fade-in;
  background-color: $color-white;
  overflow-x: hidden;
  padding: 1rem;

  @include tablet { padding: 2rem; }
}

a {
  @include gradient;
  overflow: hidden;
  line-height: 1.15;
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  
  &:hover {
    background-position: 0 1em;
  }
}

h1 {
  font-size: $type-size-medium;
  font-weight: 400;
  line-height: $type-leading-medium;

  @include mobile {
    font-size: $type-size-big;
    line-height: $type-leading-big;
  }
}

h2 {
  font-size: $type-size-medium;
  font-weight: 400;
  line-height: $type-leading-medium;
}

h3 {
  font-size: $type-size-base;
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

li { 
  list-style-type: disc; 
  margin: 0.5rem 0 0 1rem; 
}

blockquote,
q {
  font-style: italic;
  margin: 0;
  padding: 0;
  quotes: none;

  p:last-of-type {
    margin-bottom: 0;
  }

  &::after,
  &::before {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 700;
}

.svg-container {
  display: inline-block;
}

svg {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;

  path {
    fill: currentColor;
  }
}

picture {
  overflow: hidden;
}

img {
  max-width: 100%;
}

input,
label,
select,
button,
textarea {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: normal;
  background: none;
  font-size: 1rem;
  line-height: 1;
  outline: 0;
  appearance: none;
  box-sizing: border-box;
}

input:focus {
  outline: 0;
}

input[type=checkbox],
input[type=radio] {
  width: 0.875rem;
  height: 0.875rem;
}

::-webkit-search-decoration {
  display: none;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  width: auto;
  overflow: visible;
  cursor: pointer;
}

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

select[multiple] {
  vertical-align:top;
}

cite {
  font-style: italic;
}

blockquote {
  font-style: normal;
  padding: 0 2rem 2rem 2rem;
}
