main { padding: 2rem; }

footer {
  font-size: $type-size-small;
  padding: 2rem;
  width: 100%;
}

.text {
  max-width: 60ch;

  em, p { margin: 1rem 0; }
  h2 { margin-bottom: 0.5rem; }
  section { margin-bottom: 2rem; }
  
  li { 
    list-style-type: disc; 
    margin: 0.5rem 0 0 1rem; 
  }
}
