<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@dat-night" />
    <meta name="twitter:image" content="https://www.datnight.org/images/preview.png">
 
    <meta property="og:url" content="https://www.datnight.org/" />
    <meta property="og:title" content="Dat Night" />
    <meta property="og:description" content="Dat Night is a monthly meetup in Portland, Oregon for people interested in decentralized and distributed web technologies." />
    <meta property="og:image" content="https://www.datnight.org/images/preview.png" />

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Dat Night" %></title>
    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "site" %>
    <script src="https://js.tito.io/v1" async></script>
  </head>
  <body>
    <main>
      <%= yield %>
    </main>

    <footer class="footer">
      <a href="https://rumo.rs" target="_blank">Rumors</a> / 
      <a href="https://datproject.org/" target="_blank">Dat Project</a> / 
      <a href="https://codeforscience.org/" target="_blank">Code for Science and Society</a> / 
      <a href="https://beakerbrowser.com/" target="_blank">Beaker Browser</a>
      
      <p>This site is typeset in <a href="https://www.futurefonts.xyz/scribble-tone/iso">ISO</a>, which was designed by Travis Kochel of <a href="https://www.scribbletone.com/">Scribble Tone</a>, and licensed via <a href="https://futurefonts.xyz">Future Fonts</a>.
      </p>
      <a href="/conduct">Code of conduct</a> 

      <div class="footer__newsletter-signup"
      
      <!-- Begin Mailchimp Signup Form -->
      <h3>Sign up to receive news and updates about future events!</h3>
      <div id="mc_embed_signup" class="footer__newsletter-signup__form">
        <form action="https://datnight.us19.list-manage.com/subscribe/post?u=cd51af0f06a42d2550d312dc3&amp;id=fc444ed790" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cd51af0f06a42d2550d312dc3_fc444ed790" tabindex="-1" value=""></div>

          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          
        </form>

        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>

      <!--End mc_embed_signup-->
    </footer>
  </body>
</html>
