.homepage {
  &__callout {
    margin-bottom: 2rem;
    max-width: 38ch;
  }

  &__content {
    margin: 2rem 0;
    max-width: 75vw;
  }

  &__schedule,
  &__workshop {
    h2 { margin-bottom: 0.75rem; }
  }
}

.tito-tickets-button {
  margin-bottom: 1.5rem;
}
