@mixin clearfix {
  &::before,
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin mobile {
  @media screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin full-width-background {
  position: relative;

  &:before,
  &:after {
    background: inherit;
    display: block;
    content: " ";
    position: absolute;
    width: 9999px;
    top: 0;
    bottom: 0;
  }

  &:before {
    left: 100%;
  }

  &:after {
    right: 100%;
  }
}

@mixin link-arrow {
  position: relative;
  padding-left: 2em;

  &::before {
    content: '→';
    left: 0;
    position: absolute;
  }
}

@mixin gradient {
  background-image: linear-gradient(120deg, $color-seafoam 0%, $color-blue-light 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 1.15em;
}

@mixin gradient-border {
  border-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) 1;
  border-width: 3px;
  border-style: solid;
}

@mixin fade-in {
  animation: fade-in 1s linear;

  @keyframes fade-in {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 100%; }
  }
}
