---
title: Dat Night
---

<h1 class="homepage__callout">
  Dat Night is a monthly meetup in Portland, Oregon for people interested in decentralized, distributed, and peer to peer web technologies.
</h1>

<p class="homepage__content">
  Learn about the decentralized web with lightning talks and workshops, and meet other people interested in all things peer to peer. The next Dat Night will be at <strong>6PM</strong> on <strong>March 20</strong> at <a href="https://www.google.com/maps/place/728+SE+20th+Ave,+Portland,+OR+97214/@45.5175017,-122.6459679,17.81z/data=!4m5!3m4!1s0x5495a0a2b1682707:0xeda19240e503223!8m2!3d45.5176174!4d-122.645346" target="_blank">Rumors</a>. Dat Night is free and there are snacks!
</p>

<tito-button class="homepage__tickets" event="dat-night/dat-night-march-2019">Get tickets!</tito-button>

<section class="homepage__schedule homepage__content">
  <h2>Past events</h2>
  <div class="past-event">
    On <strong>November 29th, 2018</strong>, 
    <a href="#modal-1" class="inline-image" data-modal-open><img src="../images/emily.jpg"/></a>
    <a href="https://www.whoisgina.com" target="_blank">Gina Giampaolo</a>, <a href="https://jhand.space/" target="_blank">Joe Hand</a>, <a href="https://tinysubversions.com/" target="_blank">Darius Kazemi</a>, and <a href="https://github.com/gozala/" target="_blank">Irakli Gozalishvili</a> spoke at Mozilla!
    <a href="#modal-2" class="inline-image" data-modal-open><img src="../images/august.jpg"/></a>
    <a href="https://www.whoisgina.com" target="_blank">Gina</a> also led a <a href="https://beakerbrowser.com/" target="_blank">Beaker Browser</a> workshop.
    <a href="#modal-3" class="inline-image" data-modal-open><img src="../images/gina.jpg" class="inline-image"/></a>
    <a href="#modal-4" class="inline-image" data-modal-open><img src="../images/glitter.jpg"/></a>
    <a href="#modal-5" class="inline-image" data-modal-open><img src="../images/matthew.jpg"/></a>
  </div>
</section>

<div id="modal-1" style="display:none">
  <img src="../images/emily.jpg"/>
</div>

<div id="modal-2" style="display:none">
  <img src="../images/august.jpg"/>
</div>

<div id="modal-3" style="display:none">
  <img src="../images/gina.jpg"/>
</div>

<div id="modal-4" style="display:none">
  <img src="../images/glitter.jpg"/>
</div>

<div id="modal-5" style="display:none">
  <img src="../images/matthew.jpg"/>
</div>

<div class="modal">
  <div class="modal-inner">
    <span class="modal-inner__close" data-modal-close>&times;</span>
    <div class="modal-content"></div>
  </div>
</div>
