---
title: Dat Night
---

<h1 class="homepage__callout">
  Dat Night is a monthly meetup in Portland, Oregon for people interested in decentralized and distributed web technologies.
</h1>

<p class="homepage__content">
  Come and learn about the decentralized web with lightning talks and workshops!
  The first Dat Night is at 6:00 PM on November 29th, 2018 at <a href="https://goo.gl/maps/hKvbMmzvN7F2">Mozilla</a>, and it's sold out (🎉), but you can still join the waiting list!  
</p>

<tito-button class="homepage__tickets" event="dat-night/dat-night-november-2018">Waiting list</tito-button>
